{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}

{% block body %}
<div>
    <h1>LocalHub, faites rayonner la scène locale</h1>
    <p>Rejoignez-nous dès maintenant pour célébrer la musique de votre région</p>
    <p>
        <a href="{{ path('app_register') }}">S'inscrire</a>
        <a href="{{ path('app_login') }}">Se connecter</a>
    </p>
</div>

<div>
<h2>Les Artistes à la une</h2>
<ul>
    {% for artiste in artistes %}
        <li>
            {{ artiste.pseudo }} -
            <a href="{{ path('artiste_detail', { 'id': artiste.id }) }}">Voir détail</a>
        </li>
    {% else %}
        <li>Aucun artiste trouvé.</li>
    {% endfor %}
</ul>
</div>

{% endblock %}
