{% extends 'base.html.twig' %}

{% block title %}Artistes de la région {{ region }}{% endblock %}

{% block body %}

<h1>Artistes de la région {{ region }}</h1>

<ul>
    {% for artiste in artistes %}
        <li>{{ artiste.pseudo }}</li>
    {% else %}
        <li>Aucun artiste trouvé dans cette région.</li>
    {% endfor %}
</ul>

<a href="{{ path('artiste_index') }}">Retour aux artistes</a>

{% endblock %}
