{% extends 'base.html.twig' %}

{% block title %}Artistes du département {{ departement }}{% endblock %}

{% block body %}

<h1>Artistes du département {{ departement }}</h1>

<ul>
    {% for artiste in artistes %}
        <li>{{ artiste.pseudo }}</li>
    {% else %}
        <li>Aucun artiste trouvé dans ce département.</li>
    {% endfor %}
</ul>

<a href="{{ path('app_home') }}">Retour à l'accueil</a>

{% endblock %}
