{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/pages.css') }}">
{% endblock %}

{% block navbar %}
    {% include 'partials/navtop.html.twig' %}
{% endblock %}


{% block body %}
<div class="cgu-page">
        <h1>Mentions légales</h1>

        <h2>Éditeur du site</h2>
        <p><strong>LocalHub</strong> – Plateforme de promotion d’artistes locaux<br>
        Adresse : 123 rue de la Musique, 75000 Paris<br>
        Email : contact@localhub.fr<br>
        Responsable de la publication : Jules Dupont</p>

        <h2>Hébergement</h2>
        <p>Le site est hébergé par :<br>
        <strong>o2Switch</strong><br>
        222-224 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand<br>
        www.o2switch.fr</p>

        <h2>Propriété intellectuelle</h2>
        <p>Tout le contenu présent sur LocalHub (textes, images, logo, etc.) est protégé par le droit d’auteur. Toute reproduction, diffusion ou exploitation sans autorisation est interdite.</p>

        <h2>Responsabilité</h2>
        <p>LocalHub s’efforce de fournir des informations fiables mais ne saurait être tenu responsable d’éventuelles erreurs ou interruptions de service.</p>

        <h2>Protection des données personnelles</h2>
        <p>Les données personnelles collectées sont destinées à l’usage exclusif de LocalHub. Vous disposez d’un droit d’accès, de rectification et de suppression de vos données.</p>

        <h2>Contact</h2>
        <p>Pour toute question, veuillez nous contacter à l’adresse : contact@localhub.fr</a></p>
</div>
{% endblock %}
