/* Import des polices */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;600;700&display=swap');


/***** Général *****/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    background-color: #03030D; 
    color: #F3F3F1; 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    background-color:#03030D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}




/**** Navigation ****/
nav.nav-top {
    background-color: #03030D;
    color: #F3F3F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

/* Conteneur du menu (place les liens à droite) */
.nav-menu-container {
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
}

/* Style des liens */
.nav-menu {
    color: #F3F3F1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.nav-menu:hover {
    color: #DEA732;
}

#nav-log {
    color: #DEA732;
    border: 2px solid #DEA732;
    border-radius: 2px;
    padding: 8px 24px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

#nav-log:hover {
    background-color: #eec263;
}

a#nav-log:hover {
    color:#03030D
}



/**** SECTION ACCUEIL (Avec image en arrière-plan) *****/

.accueil {
    position: relative; /* Permet aux éléments enfants absolus de s'aligner */
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}

/**** Image de fond *****/
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    object-fit: cover; /* Remplit tout l’espace sans déformation */
    z-index: 0; /* En arrière-plan */
}

/**** Titre et Boutons au-dessus de l'image *****/
.page-title,
.auth-buttons {
    position: relative;
    z-index: 2; /* Au-dessus de l'image */
    color: #F3F3F1;
}

/**** Styliser le titre *****/
.page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.page-title h1 {
    font-size: 2.2rem;
    font-weight: bold;
    color:  black;
    margin-right: 400px;
    margin-bottom: 220px;
}

.page-title h2 {
    font-size: 1.5rem;
    font-weight: 400;
}

/**** Boutons *****/
.auth-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; /* Espace entre les boutons */
    margin-top: 50px;
}

.btn-log {
    width: 100px;
    color: #e3c992;
    border: 2px solid #e3c992;
    border-radius: 2px;
    padding: 10px 22px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s ease-in-out;
}

.btn-log:hover {
    background-color: #eec263;
}

a.btn-log:hover {
    color:#03030D;
}

/********* Section Introduction **********/


.introduction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    margin-bottom: 150px;
}

.introduction p {
    font-size: 1.3em;
    text-align: center;
}


.prom-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.prom-section h4 {
    font-weight: 300;
}

img.prom-picture {
    width: 50px;
    height: auto;
}



.presentation {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    width: 60%;
}

.presentation p {
    color:#F3F3F1;
    font-size: 1.2em;
    text-align: center;
}

.blue-light {
    position: absolute;
}

  
  @supports (-webkit-background-clip: text) {
    .presentation p {
      background-image: linear-gradient(90deg, #e5e59b, #ff959d);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }


/**** CONTENEUR principal *****/
 .container {
    min-width: 50%;
 }

 .wrapper {
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    gap: 50px
 }

 .artist-link {
    border: solid 1px #ff959d;
    padding: 20px;
 }
 
 a.artist-link {
    color:  #ff959d;;
 }


/* Header */
/* header {
    background: #222;
    color: white;
    padding: 15px 0;
    text-align: center;
    font-weight: 600;
} */

/* Footer */
/* footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
} */



/* Responsive
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
} */