/***
ARTISTE HOME SECTION
****/

/* Container */
.container {
    margin : 40px;
}


/*****
SECTION BIO
*****/
.bio {
    display: flex;
    flex-direction: row;
}

.bio p {
    margin-left: 50px;
}

/* .profile-pic {
    width: 300px;
    height: auto;
    border-radius: 2px;
} */

.profile-container {
    position: relative;
    display: inline-block;
}

.profile-pic {
    display: block;
    width: 200px; 
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border-radius: 50%;
}

.profile-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}


/*****
SECTION CTA
*****/
.cta-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes max */
    gap: 20px; /* Espacement entre les boutons */
    justify-content: center;
    max-width: 1300px;
    margin: 40px auto; /* Centrage de la section */
    padding: 20px;
}

/* Style des boutons */
.cta-btn {
    background: linear-gradient(90deg, #ff9367, #ff5e57);
    color: #F3F3F1;
    padding: 25px;
    text-align: center;
    border-radius: 5px;
    font-size: 0.8em;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.cta-btn:hover {
    transform: scale(1.05);
    background: linear-gradient(90deg, #ff5e57, #e54342);
}

/* Responsive : 2 colonnes sur tablette */
@media (max-width: 900px) {
    .cta-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Responsive : 1 colonne sur mobile */
@media (max-width: 600px) {
    .cta-section {
        grid-template-columns: repeat(1, 1fr);
    }
}
