

/******* TRACKLIST ********/

.tracklists {
    margin: 80px;
}

.tracks {
    margin-top: 50px;
    margin-bottom: 100px;
}

.tracks h2 {
    margin-bottom: 20px;
}

th, td {
    padding: 12px 100px; /* Augmente l'espace entre les colonnes */
    text-align: left;
}

.img-heart {
    width: 20px;
    height: auto;
}

.img-heart:hover {
    cursor: pointer;
}
